* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
h1 {
  color: grey;
  text-align: center;
  letter-spacing: 5px;
  outline: 2px dashed black;
  margin-top: 25px;
}
h3 {
  color: black;
  border: 1px dotted black;
  font-style: italic;
}
p {
  color: black;
  font-size: 20px;
  margin: 25px;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}
ul {
  color: black;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: left;
  margin: 25px;
  text-decoration: none;
}
footer {
  color: lightslategrey;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid black;
}
img {
  border: 3px dotted white;
  width: 25%;
}
nav {
  color: lightcoral;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid black
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
}
.flexbox-container div {
  padding: 1rem;
  width: 2rem;
}
nav a:visited {
  color: grey;
}
h3:hover {
  background-color: purple;
  color: white;
  }
  #delay:hover {
    font-size: 25px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 0;
  }
