* {
  box-sizing: border-box;
}
body {
  background-color: AliceBlue;
}
h1 {
  color: Black;
  text-align: center;
}
h3 {
  color: darkgrey;
}
p {
  color: darkgrey;
  font-size: 15px;
}
footer {
  color: Black;
}
